body, html {
  height: 100%;
}

body {
  background: linear-gradient(141deg, #0084b4 0%, #00aced 51%, #1dcaff 75%);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 70px;
  overflow: hidden;
  background-color: #1dcaff;
  color: white;
  font-size: 1.7em;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

li{
  float: left;
  padding: 0 1%;
  line-height: 70px;
}

li:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-list{
  float: right;
}

.container {
  width: 60%;
  height: 600px;
  margin: 80px auto 50px auto; 
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 70px;
  color: white;
  background-color: #1dcaff;
}

input{
  padding: 0 2%;
  line-height: 73px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  word-wrap: break-word;
  font-size: 0.75em;
  display: none;
}

div .fa-paper-plane-o {
  padding-left: 2%;
  padding-right: 1%;

}

.right-icon {
  float: right;
  padding-right: 3%;
  line-height: 70px;
}

.fa-plus{
  display: none;
}

.feed {
  height: 530px;
  overflow: scroll;
}

.with-textbox{
  height: 455px;
}

.tweet-box {
  height: 80px;
  padding: 1% 1%;
}

.contrast {
  background-color: #f7f7f7;
}

.box {
  float: left;
}

.pic {
  height: 100%;
  width: 20%;
  padding-right: 2%;
  box-sizing: border-box;
  overflow: hidden;
}

.txt {
  box-sizing: border-box;
  padding: 1% 2% 1% 0;
  width: 80%;
}

.pic img{
  max-width: 100%;
  object-fit: cover;
}

.name-date{
  font-size: 0.8em;
}

.icon-hover:hover{
  color: #c0deed;
}

.name:hover {
  text-decoration: underline;
}

.date{
  float: right;

}

.tweet {
  padding-top: 2.5%;
  word-wrap: break-word;
  line-height: 1.5em;
}
